body
{
	margin: 0px;
	padding: 0px;
	color: #484848;
	height: 100vh;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}